<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Vaccines</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div id="infoBox" style="margin-top:50px" class="mainbox col-md-9 col-md-offset-1 col-sm-11 col-sm-offset-1">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">All Vaccines</div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
    		<tr>
    			<th scope="col">Vaccine Name</th>
    			<th scope="col">Schedule</th>
    			<th scope="col">Route</th>
    			<th scope="col">Site</th>
    			<th scope="col" class="text-nowrap">Approx. Cost</th>
    			<th scope="col">Remarks</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr th:each="vaccine: ${vaccineList}">
    			<td th:text="${vaccine.name}"></td>
    			<td th:text="${vaccine.fromDays} + ' days to ' + ${vaccine.toDays} + ' days'"></td>
    			<td th:text="${vaccine.route}"></td>
    			<td th:text="${vaccine.site}"></td>
    			<td th:text="${vaccine.approxCost}"></td>
    			<td th:text="${vaccine.comments}"></td>
    		</tr>
    	</tbody>
    </table>
	<div class="col-md-12">
        <a id="btn-generate-report" class="btn btn-primary" th:href="@{/vaccine/add.do}">Add New Vaccine</a>
    </div><br/>
</div>
</body>
</html>